@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="card mb-2 sDiv1" id="display">

    <div class="card-header font-weight-bold">
        <img src="/EmpImages\637512349025167763.jpg" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">LUTFANNAHER LUCKY <span style="color: darkblue;">( Labright )</span> </span>
        <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
        <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Order</a>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #D5F5E3;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center;">TIRTHO KUMER SAHA</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">1</span>
        </div>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center; color: black;">OYZUDDIN AHAMMED</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">2</span>
        </div>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #28B463;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center; color: black;">MD. RAFIQUL ISLAM</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">3</span>
        </div>
    </div>

</div>
NewApprovalMatrix:957
<div class="card mb-2 sDiv1" id="display">

    <div class="card-header font-weight-bold">
        <img src="/EmpImages\637512349025167763.jpg" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">LUTFANNAHER LUCKY <span style="color: darkblue;">( Labright )</span> </span>
        <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
        <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Order</a>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #D5F5E3;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center;">TIRTHO KUMER SAHA</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">1</span>
        </div>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center; color: black;">OYZUDDIN AHAMMED</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">2</span>
        </div>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #28B463;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center; color: black;">MD. RAFIQUL ISLAM</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">3</span>
        </div>
    </div>

</div>
<div class="card mb-2 sDiv1" id="display">

    <div class="card-header font-weight-bold">
        <img src="/null" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">TIRTHO KUMER SAHA <span style="color: darkblue;">( Labright )</span> </span>
        <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
        <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Order</a>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #D5F5E3;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center;">OYZUDDIN AHAMMED</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">1</span>
        </div>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center; color: black;">MD. RAFIQUL ISLAM</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">2</span>
        </div>
    </div>

</div>

@*<div class="card mb-2 sDiv1" id="display">

    <div class="card-header font-weight-bold">
        <img src="/EmpImages\637512349025167763.jpg" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">LUTFANNAHER LUCKY <span style="color: darkblue;">( Labright )</span> </span>
        <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
        <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Order</a>
    </div>

    <div class="card-body searchDiv1" id="">
        <div class="card" style="width: 25%; float: left; background-color: #D5F5E3;">
            <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
            <div class="card-body" style="height: 75px;">
                <p style="text-align: center;">TIRTHO KUMER SAHA</p>
            </div>
            <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                <span class="seqNo">1</span>
            </div>
        </div>


        <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
            <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
            <div class="card-body" style="height: 75px;">
                <p style="text-align: center; color: black;">OYZUDDIN AHAMMED</p>
            </div>
            <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                <span class="seqNo">2</span>
            </div>
        </div>


        <div class="card" style="width: 25%; float: left; background-color: #28B463;">
            <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
            <div class="card-body" style="height: 75px;">
                <p style="text-align: center; color: black;">MD. RAFIQUL ISLAM</p>
            </div>
            <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                <span class="seqNo">3</span>
            </div>
        </div>
    </div>

    <div class="card-body searchDiv1" id="">
        NewApprovalMatrix:956
        <div class="card mb-2 sDiv1" id="display">

            <div class="card-header font-weight-bold">
                <img src="/EmpImages\637512349025167763.jpg" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">LUTFANNAHER LUCKY <span style="color: darkblue;">( Labright )</span> </span>
                <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
                <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Order</a>
            </div>
        </div>

        <div class="card" style="width: 25%; float: left; background-color: #D5F5E3;">
            <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
            <div class="card-body" style="height: 75px;">
                <p style="text-align: center;">TIRTHO KUMER SAHA</p>
            </div>
            <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                <span class="seqNo">1</span>
            </div>
        </div>


        <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
            <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
            <div class="card-body" style="height: 75px;">
                <p style="text-align: center; color: black;">OYZUDDIN AHAMMED</p>
            </div>
            <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                <span class="seqNo">2</span>
            </div>
        </div>


        <div class="card" style="width: 25%; float: left; background-color: #28B463;">
            <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
            <div class="card-body" style="height: 75px;">
                <p style="text-align: center; color: black;">MD. RAFIQUL ISLAM</p>
            </div>
            <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                <span class="seqNo">3</span>
            </div>
        </div>
    </div>

    </div>







    <div class="card mb-2 sDiv1" id="display">

        <div class="card-header font-weight-bold">
            <img src="/null" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">TIRTHO KUMER SAHA <span style="color: darkblue;">( Labright )</span> </span>
            <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
            <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Order</a>
        </div>
    </div>

    <div class="card" style="width: 25%; float: left; background-color: #D5F5E3;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center;">OYZUDDIN AHAMMED</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">1</span>
        </div>
    </div>


    <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
        <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
        <div class="card-body" style="height: 75px;">
            <p style="text-align: center; color: black;">MD. RAFIQUL ISLAM</p>
        </div>
        <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
            <span class="seqNo">2</span>
        </div>
    </div>*@

@*<div class="card mb-2 sDiv1" id="display">


               <div class="card-header font-weight-bold">
                   <img src="/null" class="" style="height: 50px; width: 50px; border-radius: 50%; border: 1px solid gray;" /> <span class="searchString">SYED SABIL HAIDER <span style="color: darkblue;">( Labright )</span> </span>
                   <a class="btn btn-warning btn-sm fa-pull-right" href="#">Edit</a>
                   <a style="color:#337ab7;" class="fa-pull-right mr-3 pt-2" href="#">Purchase Requisition</a>

               </div>
          </div>


           <div class="card" style = "width: 25%; float: left; background-color: #D5F5E3;" >
               <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
               <div class="card-body" style="height: 75px;">
                   <p style="text-align: center;">ZAMIL AHMAD NADVI</p>
               </div>
               <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                   <span class="seqNo">1</span>
               </div>
           </div >
         </div>
    </div>

           <div class="card" style="width: 25%; float: left; background-color: #58D68D;">
               <img src="/undefined" class="card-img-top" style="height: 100px; width: 100px; margin: 0 auto; border-radius: 50%; border: 1px solid gray; margin-top: 10px;" />
               <div class="card-body" style="height: 75px;">
                   <p style="text-align: center; color: black;">OYZUDDIN AHAMMED</p>
               </div>
               <div class="card-footer" style="height: 50px; margin: 0 auto; background: transparent;">
                   <span class="seqNo">2</span>
               </div>
           </div>
       </div>
    </div>*@
