
@{
    ViewData["Title"] = "ReportCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4 bg-light">
            <div class="row col-12" style="padding-right:0px">
                <div class="col-sm-6">
                    <div class="form-group text-left card cardBtn bg-white">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-lg-center reprun">
                                    <br />
                                    <br />
                                    <i class="fas fa-file-alt" style="font-size:70px; color:darkcyan"></i>
                                </div>
                            </div>
                            <div class="col-8">
                                <br />
                                <h4><strong>Members' Fund</strong></h4>

                                <address>
                                    Members contribution, Company Contribution &amp; Profit surplus for all members, closing balance filter by date
                                </address>
                                <a href="/ProvidentFund/PFReport/ReportMemberFund" class="btn btn-primary btn-sm" style="background-color:darkcyan; color:white">&nbsp;&nbsp;Download</a>
                                <br />
                                <br />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group text-left card cardBtn bg-white">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-lg-center reprun">
                                    <br />
                                    <br />
                                    <i class="fa fa-file-archive" style="font-size:70px; color:darkcyan"></i>
                                </div>
                            </div>
                            <div class="col-8">
                                <br />
                                <h4><strong>Ex-Members' Fund</strong></h4>

                                <address>
                                    Ex-Members contribution, Company Contribution & Profit &amp; surplus for all members, closing balance filter by date
                                </address>
                                <a href="/ProvidentFund/PFReport/ReportExMemberFund" class="btn btn-primary btn-sm" style="background-color:darkcyan; color:white"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download</a>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row col-sm-12" style="padding-right:0px">
                <div class="col-sm-6">
                    <div class="form-group text-left card cardBtn bg-white">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-lg-center reprun">
                                    <br />
                                    <br />
                                    <i class="fa fa-file-code" style="font-size:70px; color:darkcyan"></i>
                                </div>
                            </div>
                            <div class="col-8">
                                <br />
                                <h4><strong>Investment Schedule</strong></h4>

                                <address>
                                    New investment during the period, Encashment, closing &amp; balance filter by date
                                </address>
                                <a href="/ProvidentFund/PFReport/ReportInvestmentSchedule" class="btn btn-primary btn-sm" style="background-color:darkcyan; color:white"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download</a>
                                <br />
                                <br />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group text-left card cardBtn bg-white">
                        <div class="row">
                            <div class="col-4">
                                <div class="text-lg-center reprun">
                                    <br />
                                    <br />
                                    <i class="fa fa-id-card" style="font-size:70px; color:darkcyan"></i>
                                </div>
                            </div>
                            <div class="col-8">
                                <br />
                                <h4><strong>PF Statement</strong></h4>

                                <address>
                                    Individual member's statement, including all contributions  &amp;and profit surplus and Closing balance filter by date
                                </address>
                                <a href="/ProvidentFund/PFReport/ReportPFStatement" class="btn btn-primary btn-sm" style="background-color:darkcyan; color:white"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;Download</a>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




