


@{
    ViewData["Title"] = "ChargeReport";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}


@section Style{
  
}  

<br /><br /><br />
    <div class="container" style="color:black;">

            <h2 style="text-align:center;">BANGLADESH DEVELOPMENT BANK LIMITED</h2>
            <h2 style="text-align:center">HEAD OFFICE DHAKA</h2>
      
        <div style="color:black;text-align:right"><h2>FROM-1</h2></div>
        <div class="" style="display: flex;
  justify-content: center;">
            <h2 style="color:black;text-decoration:underline;">CHARGE REPORT</h2>
        </div>
            <div>
                <p style="font-size:20px">
                    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;This is to certify that,I..................................................................................................................................................................<br />
                    <br />Have to day the ....................................................................................................................................fornoon/afternoon handed over the<br />
                    <br />Charge of the  ....................................................................................................................................................................Department/Office<br />
                    <br />in my capacity as ..............................................................................................................................................................................to<br />
                    <br />Mr..........................................................................................................................................................................who has since taken over<br />
                    <br />the charge on the same date and time.<br />

                </p>
            </div>
        <br /><br />
            <div>
                <table>
                    <tr>
                        <td style="width:500px; font-size:30px">CHARGE TAKEN OVER </td>
                        <td style="width:500px; font-size:30px"></td>
                        <td style="width:500px; font-size:30px">CHARGE HANDED OVER</td>
                    </tr>
                    <tr style="height:40px"></tr>
                    <tr>

                        <td  style="width:500px; font-size:20px">(Signature of the Relieving officer)</td>
                        <td  style="width:500px; font-size:20px"></td>
                        <td  style="width:500px; font-size:20px">(Signature of the Officer being relived)</td>
                    </tr>
                    <tr style="height:50px"></tr>
                    <tr>
                        <td style="font-size:20px; width:150px">Dated:Dhaka</td>
                        @*<td style="font-size:20px">Dhaka</td>*@
                      
                    </tr>
                    <tr>

                        <td>
                            &nbsp;
                            &nbsp;
                            &nbsp; &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            &nbsp;..........................
                        </td>
                    </tr>
                </table>
              
            </div>

        <br />   <br />   <br />   <br />   <br />   <br />   <br />
    </div>
@section Scripts{
}




