
@{
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

<style>

    .p {
        font-size: 20px;
        margin-bottom: 90px;
        margin-top: 200px;
    }

    .header {
        text-align: center;
        margin: 30px
    }

    .box {
        margin-top: 700px;
        margin-left: 95px;
        margin-left: 95px;
        margin-bottom: 95px;
        color: black;
    }
    table th{
        width: 70%;
        border: 10px;
        line-height:inherit
    }
    td {
        height: 50px;
    }
   
    .f {
        font-size: 20px;
    }
</style>
<div class="box p">
    <p style="text-align:center"> <u>পাতা -৩ </u></p>
    <br />
    <br />
    <p>
        ব্যাংকের স্বার্থ পরিপন্থী কোন কার্যকলাপে লিপ্ত থাকিব না ।
    </p>
    <div>
        <div>
            <table>
                <tr>
                    <th>সাক্ষীঃ  </th>
                    <th>কর্মকর্তা /কর্মচারীর স্বাক্ষরঃ </th>
                </tr>
                <tr>
                    <td>১ । স্বাক্ষরঃ </td>
                    <td>নামঃ   </td>
                   
                </tr>
                <tr>
                    <td>নামঃ   </td>
                    <td>পদবীঃ   </td>
                 
                </tr>
                <tr>
                    <td>ঠিকানাঃ</td>
                    <td>তারিখঃ </td>
                 
                </tr>
                <tr>
                    <td>২। স্বাক্ষরঃ </td>
                    <td></td>
                   
                </tr>
                <tr>
                    <td>নামঃ  </td>
                    <td></td>
                
                </tr>
                <tr>
                    <td>ঠিকানাঃ  </td>
                    <td></td>
                  
                </tr>
            </table>

        </div>
        <br />
        <br />
        <br />
     
    </div>
</div>
