
@{
    ViewData["Title"] = "DeclarationSecrecy";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

@section Style{

}

<div class="card" style="width: 100%;">
    <div class="card-body" style="color:black;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    @*<img src="~/images/Bangladesh-Govt-Logo.jpg" style="height:85px" />*@
                </div>
                <div class="col-6 text-center">
                    <h3 class="card-title" style="margin-top: 75px;">বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড </h3>
                    <h6 class="">প্রধান কার্যালয় </h6>
                    <h6 class=""><u>মতিঝিল ,ঢাকা</u>   </h6>
                    <h4 class=""><u>গোপনীয়তার ঘোষণা </u></h4>
                    <h6 class=""><u>Declaration of Secrecy / Non Discloser</u>   </h6>
                </div>
                @*<div class="col-3">
                    <a class="btn btn-info" data-toggle='tooltip' title='Print' target='_blank' href='/HRPMSEmployee/InfoView/pdspdf/@Model.employee?.Id' style="float:right;margin-top: 25px;"><i class="fa fa-print"></i></a>
                </div>*@
            </div>
        </div>
        <br/>
        <div class="container">

            <!--Employee Info-->
            <div class="row clearfix">
               
                <!-- Card Body -->
                <div class="card-body">
                    <div class="col-12" style="margin-left: 15%;">
                        আমি................................. ,পিতা /স্বামী....................... ,
                        মাতা................................. এই মর্মে ঘোষণা করিতেছি যে , <br />
                        আমি ব্যাংকের যেই সকল তথ্যাদি জনসম্মুক্ষে প্রকাশ্য নহে সেই সমস্ত তথ্যাদির কঠিন গোপনীয়তা  রক্ষা করিব <br />
                        এবং কোনো কোনো অবস্থায়ই  গোপনীয় তথ্যাদি পরোক্ষ বা প্রতক্ষ্যভাবে আমার কর্তব্য<br /><br />
                        <span style="float:right;margin-right:38%;">ক্রমশ পাতা-.........../২</span>
                    </div>
                </div>
            </div>

          

        
      

        


        </div>
    </div>
</div>