
@{
    Layout = "~/Views/Shared/_PrintView.cshtml";
}



<style>
    .p {
        font-size: 20px;
        margin-bottom: 90px;
        margin-top: 200px;
    }
    .f{
        font-size:20px;
    }

    .header {
        text-align: center;
        margin: 30px
    }

    .box {
        margin-top: 700px;
        margin-left: 95px;
        margin-left: 95px;
        margin-bottom: 95px;
        color:black;
    }


    .sbox {
        margin-bottom: 15px;
        text-align: justify;
        font-size: xx-large;
    }
</style>
<div class="box f">
    <p style="text-align:center"> <u>পাতা -২   </u></p>
    <br />
    <br />
    <div>
        <div>
            <sbox>
                <p style="text-align:justify">
                    চাকুরীতে নিয়োগপ্রাপ্ত হওয়ায় বিধিসম্মতভাবে হলফ করিয়া ঘোষণা করিতেছি যে, বাংলাদেশ ,<br /><br /><br />
                    ডেভেলপমেন্ট ব্যাংক লিমিটেড-এ আমার চাকুরিকালীন  সময়ে ব্যাংকের সকল  বৈধ <br /><br /><br />
                    কার্যক্রমের প্রতি অনুগত ও বিশ্বস্ত থাকিব ,ইহার স্বার্থ রক্ষার্থে সর্বদা সচেষ্ট থাকিব এবং
                </p>
                </sbox>
        </div>
        <br />
        <br />
        <br />
        <div class="float-right">
            ক্রমশ পাতা-........./৩
        </div>
    </div>
</div>
