
@{
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

<style>
   
    .p {
        font-size: 14px;
        margin-bottom:90px;
        margin-top:200px;
    }
    .header{
        text-align:center;
        margin:30px
    }
    .box {
        margin-top: 700px;
        margin-left: 95px;
        margin-left: 95px;
        margin-bottom:95px;
        color:black;
    }




</style>
<div class="box">
    <div class="header">
        <h2>বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড</h2>
        <p> প্রধান কার্যালয়</p>
        <p> <u>মতিঝিল ,ঢাকা।</u></p>
    </div><br /><br />
    <h1 class="h4 text-center"><u>আনুগত্যের ঘোষণা</u></h1><br />
    <h1 class="h4 text-center"><b><u>(Declaration of Fidelity)</u></b></h1><br /><br />
    <div>
        <div>
            <sbox>
                <p>
                    আমি......................................................................................................., পিতা/স্বামী-............................................ ......................................................................., <br /><br /><br /><br />
                    মাতা-....................................................................................................................................................................... বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড এর
                </p>
            </sbox>
        </div>
      <br />
        <br />
        <br />
        <div class="float-right">
            ক্রমশ পাতা-........./২
        </div>
    </div>
</div>
