
@{
    ViewData["Title"] = "RealeseLetter";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}
<style>
    .box {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        text-align: justify;
        font-size: 18px;
        color: black;
    }

    header {
        text-align: center;
        font-size: 30px;
    }
    .dbox {
        width: 100%;
        margin-bottom: 25px;
        text-align: justify;
    }

    .sbox {
        margin-right: 15px;
        float: left;
        height: 150px;
        text-align: justify;
    }

    aside {
        word-wrap: normal;
    }

    article {
        margin-bottom: 15px;
        text-indent: 75px;
        word-wrap: normal;
    }

    footer {
        text-align: right;
    }
</style>

<section class="box">
    <header>
        বাংলাদেশ ডেভলপমেন্ট ব্যাংক লিমিটেড <br />
        <u>হেড অফিস, ঢাকা।</u> <br />
        <u> ব্রাঞ্চ ম্যানেজমেন্ট ডিপার্টমেন্ট</u>

    </header>
    <section style="float:left">
        নং ১৪.১/
    </section>
    <section style="float:right">
        জুন ১৪, ২০২১ <br />
        আষাঢ় ০৩, ১৪২৮
    </section>
    <br />
    <br />
    <br />
    <section style="text-align:center">
        <h3><b><u>স্মারকলিপি</u></b></h3><br />
        <h4><b>বিষয়ঃ <u>বিমুক্তকরণ প্রসংগে।</u></b></h4>
    </section>
    <article>
        হিউম্যান রিসোর্স ম্যানেজমেন্ট ডিপার্টমেন্ট কর্তৃক জারীকৃত ০৩/০৬/২০২১ তারিখে ১৫/০৫/২০২১
        নং কর্মী প্রজ্ঞাপনের পরিপ্রেক্ষিতে জনাব মোঃ ইউনুছ আলী, এসিসট্যান্ট জেনারেল ম্যানেজারকে অদ্য ১৪/০৬/২০২১ তারিখ কর্মদিবস শেষে ব্রাঞ্চ ম্যানেজমেন্ট ডিপার্টমেন্ট হতে বিমুক্ত করা হলো। তিনি তাঁর
        উপর অর্পিত দায়িত্ব এ ডিপার্টমেন্টের সিনিয়র প্রিন্সিপাল অফিসার, জনাব জনূ কানু -এর নিকট ব্যাংকের
        নির্ধারিত ফরমে হস্তান্তরপূর্বক যথারীতি আশুগঞ্জ ব্রাঞ্চে যোগদান করবেন।
    </article>
    <br />
    <section style="float:right; text-align:center; margin-right:50px;">
        স্বাঃ/= <br />
        (আফরোজা নাসরিন চৌধুরী) <br />
        ডেপুটি জেনারেল ম্যানেজার
    </section>
    <br />
    <br />
    <br />
    <section>
        <div class="dbox">
            <div class="sbox">
                ০১।
            </div>
            <aside>
                জনাব মোঃ ইউনুস আলী <br />
                এসিসট্যান্ট জেনারেল ম্যানেজার <br />
                ব্রাঞ্চ ম্যানেজমেন্ট ডিপার্টমেন্ট <br />
                বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড <br />
                হেড অফিস, ঢাকা।
            </aside>
        </div>
    </section>
    <section>
        <div class="dbox">
            <div class="sbox">
                ০২।
            </div>
            <aside>
                জনাব জনী কানু <br />
                সিনিয়র প্রিন্সিপাল অফিসার <br />
                ব্রাঞ্চ ম্যানেজমেন্ট ডিপার্টমেন্ট <br />
                বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড <br />
                হেড অফিস, ঢাকা।
            </aside>
        </div>
    </section>
    <u>
        অবগতি ও প্রয়োজনীয় ব্যবস্থা গ্রহণের জন্য অনুলিপিঃ
    </u>
    <section>
        <div class="dbox">
            <div class="sbox" style="height:20px;">
                ০১।
            </div>
            <aside>
                ডেপুটি জেনারেল ম্যানেজার, সেন্ট্রাল একাউন্টস ডিপার্টমেন্ট, বিডিবিএল, হেড অফিস, ঢাকা।
            </aside>
        </div>
        <div class="dbox">
            <div class="sbox" style="height:20px;">
                ০২।
            </div>
            <aside>
                ডেপুটি জেনারেল ম্যানেজার, অডিট এন্ড ইন্সপেকশন ডিপার্টমেন্ট, বিডিবিএল, হেড অফিস, ঢাকা।
            </aside>
        </div>
        <div class="dbox">
            <div class="sbox" style="height:40px;">
                ০৩।
            </div>
            <aside>
                ডেপুটি জেনারেল ম্যানেজার, হিউম্যান রিসোর্স ম্যানেজমেন্ট ডিপার্টমেন্ট, বিডিবিএল, হেড অফিস, ঢাকা। ২(দুই) প্রস্থ দায়িত্ব হস্তান্ত সম্পর্কিত ফর্মসহ প্রেরণ করা হলো।
            </aside>
        </div>
        <div class="dbox">
            <div class="sbox" style="height:60px;">
                ০৪।
            </div>
            <aside>
                ডিপুটি জেনারেল ম্যানেজার, বাংলাদেশ ডেভেলপম্টে ব্যাংক লিমিটেড,জোনাল অফিস ঢাকা উত্তর। জনাব/জনাবা মোঃ ইউনুছ আলী এসিসট্যান্ট জেনালেল ম্যানেজার চলতি ২০২১ পঞ্জিকা বর্ষে ৬(ছয়) দিন
                নৈমিত্তিক ছুটি ভোগ করেছেন ও কোন সাশারণ ছুটি ভোগ করেননি।
            </aside>
        </div>
        <br />
        <footer>
            ডেপুটি জেনারেল ম্যানেজার
        </footer>
    </section>
</section>


