
@{
    ViewData["Title"] = "SuretyBond";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}
<style>

    .box {
        margin-top: 700px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        text-align: justify;
        font-size: 20px;
        color: black;
    }
    header {
        text-align: center;
        font-size: 30px;
    }
    
    .dbox {
        width:100%;
        margin-bottom:25px;
        text-align: justify;
    }
    .sbox {
        margin-right: 15px;
        float:left;
        height: 100px;
        text-align: justify;
    }
    aside {
        word-wrap: normal;
    }
    article {
        margin-bottom: 15px;
        text-indent: 75px;
        word-wrap: normal;
    }
    footer {
        text-align: right;
    }
</style>
<section class="box">

    <header><b><u>সিউরিটি বন্ড(Surety Bond)</u></b></header>
    <br />
    <br />
    <article>
            জনাব/মিস/মিসেস..................................................................................................., পিতা/স্বামী-........................................................., 
            মাতা-..............................................................................., পদবী-................................................................................., বাংলাদেশ ডেভেলপমেন্ট 
            ব্যাংক লিমিটেড, ......................................................................................................................, যিনি অভিহিত হইবেন বাংলাদেশ ডেভেলপমেন্ট 
            ব্যাংক লিমিটেড এর কর্মচারী (Employee)।

    </article>
        <div class="dbox">
            <div class="sbox">
                (০১)
            </div>
            <aside>
                জনাব/মিস/মিসেস-....................................................................., পিতা/স্বামী-.................................................................................., 
                মাতা-................................................................................................................., পদবী-..................................................................................., ঠিকানা-..............................................................................................................................................., জাতীয়তা- বাংলাদেশী যিনি অভিহিত হইবেন নিশ্চয়তা (Surety) দাতা।
            </aside>
        </div>
        <div class="dbox">
            <div class="sbox">
                (০২)
            </div>
            <aside>
                জনাব/মিস/মিসেস-....................................................................., পিতা/স্বামী-..................................................................................,
                মাতা-.............................................................................................................., পদবী-..................................................................................., ঠিকানা-..............................................................................................................................................., জাতীয়তা- বাংলাদেশী যিনি অভিহিত হইবেন নিশ্চয়তা (Surety) দাতা।
            </aside>
        </div>
        <article>
            -যেইহেতু বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড যাহার বর্তমান ঠিকানা- ৮, রাজউক এভিনিউ,
            বিডিবিএল ভবন, মতিঝিল বাএ, ঢাকা-১০০০ ঠিকানায় প্রধান কার্যালয় অবস্থিত, যাহা অভিহিত হইবে
            নিয়োদাতা()।
        </article>
    <br />
        <footer>
            ক্রমশ পাতা-........./২
        </footer>
            
    </section>


