@model BankBranchViewModel
@{
    ViewData["Title"] = "Branch Info";
    Layout = "~/Areas/CRMMasterData/Views/Shared/_CRMMasterDataForm.cshtml";
}

@section StyleMD{
    <style>
        .redStar {
            color: red;
        }
    </style>
}


<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">Branch Info</h5>
        <hr>
        <div class="container">
            <form asp-area="CRMMasterData" asp-controller="Bank" asp-action="BranchInfo" method="post" data-parsley-validate="parsley">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <input type="hidden" name="branchId" id="branchId" value="0" />

                    <label for="branchName" class="col-sm-3 col-form-label">Branch Name <span style="float:right;" class="redStar">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="branchName" id="branchName">
                    </div>
                </div>

                <hr>
                <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
            </form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bank Branch List</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="branchInfoTable">
                    <thead>
                        <tr>
                            <th>Branch Name</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.bankBranches)
                        {
                            <tr>
                                <td>@data.branchName</td>
                                <td>
                                    <a class="btn btn-success" onclick="Edit(@data.Id, '@data.branchName')" href="#"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsMD{
    <script>
        $(document).ready(function () {
            //$("#HRPMSActivityType").addClass("active");
            $('#branchInfoTable').DataTable();
        });

        function Edit(Id, name) {
            $("#branchId").val(Id);
            $("#branchName").val(name);
        }
    </script>
}



