@model PayrollReportViewModel
@{
	ViewData["Title"] = "Salary Reports";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link href="~/css/site.css" rel="stylesheet" />

	<link href="~/lib/main.css" rel="stylesheet" />
	<style>
		#calendar a, #ui-datepicker-div a {
			color: black !important;
		}
		/* Top Counter */
		.leftImgBox {
			width: 20%;
			height: 100%;
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 13px;
		}

			.leftImgBox img {
				width: 100%;
			}

			.leftImgBox i {
				font-size: 42px !important;
			}

		.counterBox {
			float: right;
			text-align: center;
			margin: 10px;
		}

		.counter {
			font-size: 25px;
			margin-bottom: 0;
		}

		.counterBox1 {
			float: right;
			text-align: right;
			margin: 0;
		}

		.counter1 {
			font-size: 20px !important;
			margin-bottom: 0;
		}

		.counter p {
			text-align: right;
		}

		.title {
			font-size: 15px;
		}

		a {
			color: white !important;
		}

			a:hover {
				color: white;
			}

		.active5 {
			color: darkgreen;
		}

		.redstar {
			color: red;
			float: right;
		}
	</style>
}
<div class="card" style="width: 100%;">
	<div class="card-header  d-flex flex-row align-items-center justify-content-between">
		<h5 class="m-0 font-weight-bold text-primary">Salary Reports</h5>
		<a class='btn btn-info mr-4' style="" data-toggle='tooltip' title='Go Back' href='/Home/GridMenuPage?moduleId=1017&perentId=6229'><i class="fas fa-angle-double-left"> <span style="">Back</span></i></a>

	</div>
	<div class="card-body">

		<div class="container">
			<form>
				<div class="row">
					<input type="hidden" id="employeeId" name="employeeId">
					<div class="col-sm-12">
						<div class="form-group row">
							<label for="empcode" class="col-sm-4 col-form-label">Report Name</label>
							<div class="col-sm-8">
								<select class="form-control" id="rptName">
									<option value="0">Select</option>
									<option value="1">Mobile Allowance Report (All)</option>
									<option value="2">Mobile Allowance Report (Branch Wise)</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-12 hideCls" style="display: none;" id="period">
						<div class="form-group row">
							<label for="empcode" class="col-sm-4 col-form-label">Salary Period</label>
							<div class="col-sm-8">
								<select class="form-control" id="periodId">
									<option value="0">Select</option>
									@foreach (var item in Model.salaryPeriods)
									{
										<option value="@item.Id">@item.periodName</option>
									}
								</select>
							</div>
						</div>
					</div>
					<div class="col-12">
						<a id="submit" type="button" class="btn btn-success" style="float:right; " href='javascript:void(0)'><i class="fas fa-file-pdf"></i> Print</a> &nbsp;
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>

    $(document).ready(function () {
        $('.datepicker').datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "1900:2100" });
		//Common.Ajax('GET', '/global/api/GetActiveAllEmployeeInfo', [], 'json', ajaxGetEmployees, false);

		$('#rptName').on('change', function () {

			var rptName = $(this).val();
			$('.hideCls').hide();
			if (rptName == 1 || rptName == 2) {
				$('#period').show();
			}
		})
    });
    $('#submit').click(function () {
		var rptName = $('#rptName').val();
		var periodId = $('#periodId').val();

		if (rptName == 1) {
			window.open("/Payroll/PayrollReport/MobileAllowanceReportPdf?periodId=" + periodId + "&type=all");
		}
		if (rptName == 2) {
			window.open("/Payroll/PayrollReport/MobileAllowanceReportPdf?periodId=" + periodId + "&type=branchWise");
		}
    });
    function formatDate(date) {
        date = new Date(date);
        var year = date.getFullYear(),
            month = date.getMonth() + 1, // months are zero indexed
            day = date.getDate(),
            hour = date.getHours(),
            minute = date.getMinutes(),
            second = date.getSeconds(),
            hourFormatted = hour % 12 || 12, // hour returned in 24 hour format
            minuteFormatted = minute < 10 ? "0" + minute : minute,
            morning = hour < 12 ? "am" : "pm";

        return day + "/" + + month + "/" + year;
    }

    function ajaxGetEmployees(response) {
        var GeEmployeesList = [];
        console.log(response)
        $.each(response, function (id, option) {
            var obj = new Object();
            obj.key = option.Id;
            obj.value = option.nameEnglish + "(" + option.employeeCode + ")";
            obj.employeeCode = option.employeeCode;
            GeEmployeesList[GeEmployeesList.length] = obj;
        });
        $('#employeeName').autocomplete({
            source: GeEmployeesList,
            select: function (event, ui) {
                $("#employeeId").val(ui.item.key);
                $("#empCode").val(ui.item.employeeCode);
                Common.Ajax('GET', '/Payroll/PayrollReport/GetLoansByEmployeeCode?empCode=' + ui.item.employeeCode, [], 'json', ajaxGetLoansByEmployeeId);
            }
        });
    }

</script>