
@{
    ViewData["Title"] = "Vendor";
}

<div class="card" style="margin: 0 80px 0 80px;">
    <div class="card-header">
        <h2>Be a Supplier</h2>
    </div>
    <div class="card-body" style="background-image:url('/images/BeaVendor.jpg');height: 600px;background-repeat:no-repeat;background-size:cover;">
        <div class="row" style="padding-top:100px;">
            <div class="col-4"></div>
            <div class="col-2">
                <a class="btn btn-info btn-lg" href="/VEMSHome/VendorHome/ReqDocList" onclick=""><i class="fa fa-user-plus"></i> New Register</a>
            </div>
            <div class="col-2">
                <a class="btn btn-primary btn-lg" href="/VEMSHome/VendorHome/Login" onclick=""><i class="fa fa-user"></i> Existing User</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="card-footer" style="text-align:center;">
        <h2>Welcome to the Suppliers' Portal</h2>
    </div>
</div>

