
@{
    ViewData["Title"] = "Surety Bond Letter";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

<style>
  
  

   
    .box {
        /*margin-top: 700px;*/
        margin-left: 100px;
        margin-right: 100px;
        /*margin-bottom: 100px;*/
        text-align: justify;
        font-size: 20px;
        color: black;
    }

    header {
        text-align: center;
        font-size: 30px;
    }

    .dbox {
        width: 100%;
        margin-bottom: 25px;
        text-align: justify;
    }

    .sbox {
        margin-right: 15px;
        float: left;
        height: 100px;
        text-align: justify;
    }

    aside {
        word-wrap: normal;
    }

    /*article {
        margin-bottom: 15px;
        text-indent: 75px;
        word-wrap: normal;
    }*/

    footer {
        text-align: right;
    }
</style>
<section class="box">

    <header><b><u>সিউরিটি বন্ড(Surety Bond)</u></b></header>
    <br />
    <br />
    <article>
        জনাব/মিস/মিসেস-............................................,পিতা/স্বামী-................................................,
        মাতা-.............................................................,পদবী-......................................................,
        বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড, ............................................,
        যিনি অভিহিত হইবেন বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড এর কর্মচারী (Employee)।
    </article>
    <br />
    <div class="dbox">
        <div class="sbox">
            (০১)
        </div>
        <aside>
            জনাব/মিস/মিসেস-......................................,পিতা/স্বামী-........................................,
            মাতা-.....................................................,পদবী-................................................,
             ঠিকানা-..................................................,জাতীয়তা- বাংলাদেশী যিনি অভিহিত হইবেন নিশ্চয়তা (Surety) দাতা।
        </aside>
    </div>
    <br />
    <div class="dbox">
        <div class="sbox">
            (০২)
        </div>
        <aside>
            জনাব/মিস/মিসেস-......................................,পিতা/স্বামী-........................................,
            মাতা-.....................................................,পদবী-................................................,
            ঠিকানা-..................................................,জাতীয়তা- বাংলাদেশী যিনি অভিহিত হইবেন নিশ্চয়তা (Surety) দাতা।
        </aside>
    </div>
    <article>
        -যেহেতু বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড যাহার বর্তমান ঠিকানা- ৮, রাজউক এভিনিউ,
        বিডিবিএল ভবন, মতিঝিল বি/এ, ঢাকা-১০০০ ঠিকানায় প্রধান কার্যালয় অবস্থিত, যাহা অভিহিত হইবে
        নিয়োগদাতা()।
    </article>
    <br />




    <br />
    <article>
        -যেহেতু নিয়োগদাতা (Employer) কর্তৃক কর্মচারীকে ........................... পদে নিয়োগ
        প্রদান করা হইয়াছে এবং কর্মচারী চাকুরীর শর্তাবলী মানিয়া চাকুরীতে যোগদানে সম্মত হইয়াছেন ও
        যোগদান করিয়াছেন এবং কর্মচারী ব্যাংকের নিয়মানুযায়ী যোগদানের তারিখ অর্থাৎ ...................... তারিখ
        হইতে ধারাবাহিকভাবে নূন্যতম ০৫ (পাঁচ) বছর চাকুরী করিবেন মর্মে অঙ্গীকারাবদ্ধ হইয়াছেন।
    </article>
    <article>
        -যেহেতু বর্ণিত কর্মচারীকে ব্যাংকের নির্ধারিত কাজের জন্য উপযুক্তকরণের লক্ষ্যে তাহার
        শিক্ষানবিসকালে বিভিন্ন ধরণের প্রশিক্ষণ প্রদান করিতে হইবে যাহার নিমিত্ত নিয়োগদাতার (Employer)
        উল্লেখযোগ্য ব্যয় সাধিত হইবে।
    </article>
    <article>
        -যেহেতু নিয়োগপ্রাপ্ত কর্মচারীকে প্রয়োজনীয় কাজ করিবার জন্য প্রশিক্ষিত করিবেন, সেহেতু বর্ণিত
        কর্মচারীকে শিক্ষানবিসকালসহ কমপক্ষে ০৫(পাঁচ) বছর বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড- এ
        চাকুরী করিতে হইবে।
    </article>
    <article>
        -যেহেতু উপরোল্লিখিত বিষয়সমূহ বিবেচিত হইবে সেহেতু নিয়োগপ্রাপ্ত কর্মচারী এবং নিশ্চয়তাদাতা
        যৌথভাবে এবং/অথবা প্রত্যেক আলাদা আলাদাভাবে এই মর্মে সম্মত হইয়াছেন যে, সিউরিটি বন্ড
        (Surety Bond) নিয়োগদাতার (Employer) অনুকূলে সম্পাদন করিবেন।
    </article>
    <article>
        -যেহেতু নিয়োগদাতা কর্মচারীকে প্রভৃত ব্যয় সাপেক্ষ বিভিন্ন প্রশিক্ষণ প্রদান করিবেন সেহেতু
        নিশ্চয়তাদাতা এ নিয়োগপ্রাপ্ত কর্মচারী আলাদা আলাদাভাবে এবং যৌথভাবে নিশ্চয়তা প্রদান করিবেন,
        অন্যথায় ফাউন্ডেশন কোর্স বাবদ ব্যয়িত অর্থ নিয়োগদাতার অনুকূলে ফেরৎ প্রদান করিতে বাধ্য থাকিবেন।
        ০৫(পাঁচ) বৎসর চাকুরীর পূর্বে কর্মচারী নিখোঁজ বা আত্মগোপন করিলে তাহার ফাউন্ডেশন কোর্স
        বাবদ ব্যয় নিশ্চয়তাদাতা কর্তৃক ফেরত প্রদান করিতে বাধ্য থাকিবেন। এই মুচলেকা (Bond)
        নিয়োগপ্রাপ্ত কর্মচারী কর্তৃক ০৫(পাঁচ) বছর চাকুরী করিবার পর স্বয়ংক্রিয়ভাবে বাতিল বলিয়া গণ্য হইবে।
    </article>


    <br />
    <article class="as">
        উপরোল্লিখিত শর্তাবলী পরিপালনের লক্ষ্যে নিয়োগপ্রাপ্ত কর্মচারী ও নিশ্চয়তাদাতা এই মুচলেকায় <br />
        ........................... দিনে .......................... মাসে ........................... বৎসরে সম্মত হইয়া স্বাক্ষর প্রদান করিলেনঃ
    </article>
    <div>
        <table>
            <tr>
                <td><b><u>স্বাক্ষীঃ</u></b></td>
                <td><b><u>নিয়োগপ্রাপ্ত কর্মচারী(Employee)</u></b></td>
            </tr>
            <tr>
                <td>১.</td>
                <td>স্বাক্ষরঃ</td>
            </tr>

            <tr>
                <td></td>
                <td>নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>পিতা/স্বামীর নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>মাতার নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>ঠিকানাঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>পদবীঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>কর্মস্থলঃ</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>২. </td>
                <td><b><u>১. নিশ্চয়তা (Surety) দাতাঃ</u></b></td>
            </tr>
            <tr>
                <td></td>
                <td>স্বাক্ষরঃ</td>

            </tr>
            <tr>
                <td></td>
                <td>নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>পিতা/স্বামীর নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>মাতার নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>ঠিকানাঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>তারিখঃ</td>
            </tr>
            <tr>
                <td></td>
                <td><u><b>২. নিশ্চয়তা (Surety) দাতাঃ</b></u></td>
            </tr>
            <tr>
                <td></td>
                <td>স্বাক্ষরঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>পিতা/স্বামীর নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>মাতার নামঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>ঠিকানাঃ</td>
            </tr>
            <tr>
                <td></td>
                <td>তারিখঃ</td>
            </tr>
        </table>

    </div>
    <br />
    <br />
    <br />

    
</section>
   


