
@{
    ViewData["Title"] = "Declaration Secrecy Bond View";
    Layout = "~/Views/Shared/_PrintView.cshtml";
}

<style>

    p {
        font-size: 29px;
        /*margin-bottom: 90px;
        margin-top: 200px;*/
    }

    .header {
        text-align: center;
        margin: 30px
    }

    .box {
        /*margin-top: 700px;*/
        margin-left: 95px;
        margin-left: 95px;
        /*margin-bottom: 95px;*/
        color: black;
    }



    /*.p1 {
        font-size: 20px;
        margin-bottom: 90px;
        margin-top: 200px;
    }*/


    /*.box {
        margin-top: 700px;
        margin-left: 95px;
        margin-left: 95px;
        margin-bottom: 95px;
        color: black;
    }*/

    table th {
        width: 70%;
        border: 10px;
        line-height: inherit
    }

    td {
        height: 50px;
    }

    .f {
        font-size: 20px;
    }
</style>
<div class="box">
    <div class="header">
        <h2>বাংলাদেশ ডেভেলপমেন্ট ব্যাংক লিমিটেড</h2>
        <p> প্রধান কার্যালয়</p>
        <p> <u>মতিঝিল ,ঢাকা।</u></p>
    </div><br />
    <h1 class="h4 text-center"><u>গোপনীয়তার ঘোষণা</u></h1><br />
    <h1 class="h4 text-center"><b><u>Declaration of Secrecy / Non Discloser</u></b></h1><br />
    <div>
        <div>
            <sbox>
                <p style="text-align:justify;font-size:22px;">
                    আমি.............................................................................,পিতা/স্বামী.................................................................,
                    মাতা...........................................................................এই মর্মে ঘোষণা করিতেছি যে ,
                    আমি ব্যাংকের যেই সকল তথ্যাদি জনসম্মুক্ষে প্রকাশ্য নহে সেই সমস্ত তথ্যাদির কঠিন গোপনীয়তা  রক্ষা করিব 
                    এবং কোনো অবস্থায়ই  গোপনীয় তথ্যাদি পরোক্ষ বা প্রতক্ষ্যভাবে আমার কর্তব্য
                    পালনকালে বা পরে কর্তৃপক্ষের পূর্বানুমতি ব্যতিরেকে জনসম্মুখে প্রকাশ
                    করিব না| 
                    আরো ঘোষণা করিতেছি যে, কোন আইন বা আইন দ্বারা প্রতিষ্ঠিত আদালত কর্তৃক 
                    নির্দেশিত হইলেই কেবলমাত্র তথ্যাদি প্রকাশ
                    করিব এবং এই ঘোষণাপত্রে তথ্য 
                    অধিকার আইনের কোন ধারা  বা অংশ  ইহার সহিত সাংঘর্ষিক হইলে এই ঘোষণা  পত্রের 
                    সংশ্লিষ্ট অংশ বাতিল বলিয়া গণ্য হইবে |
                </p>
            </sbox>

        </div>
        <div>
            <table style="font-size:20px;">
                <tr>
                    <th>সাক্ষীঃ  </th>
                    <th>কর্মকর্তা /কর্মচারীর স্বাক্ষরঃ </th>
                </tr>
                <tr>
                    <td>১ । স্বাক্ষরঃ </td>
                    <td>নামঃ   </td>

                </tr>
                <tr>
                    <td>নামঃ   </td>
                    <td>পদবীঃ   </td>

                </tr>
                <tr>
                    <td>ঠিকানাঃ</td>
                    <td>তারিখঃ </td>

                </tr>
                <tr>
                    <td>২। স্বাক্ষরঃ </td>
                    <td></td>

                </tr>
                <tr>
                    <td>নামঃ  </td>
                    <td></td>

                </tr>
                <tr>
                    <td>ঠিকানাঃ  </td>
                    <td></td>

                </tr>
            </table>
        </div>
        <br />
        <br />
        <br />

    </div>
</div>