@model AllAcrsViewModel
@{
    ViewData["Title"] = "GetMyPendingAcrs";
}

<h1>All ACR</h1>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Emp Code</th>
			<th>Emp Name</th>
			<th>Year</th>
			<th>From Date</th>
			<th>To Date</th>
			<th>Recomendator</th>
			<th>Signatory</th>
			<th>Action</th>
		</tr>
	</thead>
</table>