
@{
	ViewData["Title"] = "SomeAdminSettings";
}

<h1>SomeAdminSettings</h1>

<div class="card">
	<div class="card-body row">
		<div class="col-md-3">
			<form method="post" asp-action="BackupDatabase">
				<input type="submit" class="btn btn-success" value="Backup Database" />
			</form>
		</div>
	</div>
</div>