@model StockInViewModel
@{
    ViewData["Title"] = "Stock In";
    //Layout = "~/Areas/Inventory/Views/shared/_InventoryLayout.cshtml";

}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-1 d-flex flex-row align-items-center justify-content-between">
                <h4 class="p-0 m-0 font-weight-bold text-primary">List For Stock In</h4>
                @*<a href="/Inventory/Stock/TransferReceive" style="background-color:#024972;margin-left: 278px;" class="btn btn-info btn-sm pull-right"> New Stock In From Transfer</a>*@
                <a href="/Inventory/Stock/Index" style="background-color:#024972;" class="btn btn-info btn-sm pull-right">New Stock In From Purchase</a>
                @*<a href="/Inventory/Stock/StockInFromProduction" style="background-color:#024972;" class="btn btn-info btn-sm pull-right">New Stock In From Production</a>*@
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="PurchaseList">
                    <thead>
                        <tr>
                            <th width="35%">Stock In No</th>
                            <th width="20%">Stock In By</th>
                            <th width="10%">Stock In Date</th>
                            <th width="25%">Remarks</th>
                            <th width="10%">Action</th>

                    </thead>
                    <tbody>
                        @foreach (var data in Model.stockMasters)
                        {
                            <tr>
                                <td><span style="display:none">-@data.Id-</span>@data.receiveNo</td>
                                <td>@data.receiveBy</td>
                                <td>@data.receiveDate?.ToString("dd-MMM-yyyy")</td>
                                <td>@data.remarks</td>
                                <td>
                                    <a title="View Detail" href="/Inventory/Stock/StockInDetails?Id=@data.Id"><i class="far fa-list-alt"></i></a>
                                    &nbsp;&nbsp;<a title="Print Preview" target="_blank" href="/Inventory/Stock/StockInPdfAction?MasterId=@data.Id"><i class="fas fa-print"></i></a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section Scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $('#PurchaseList').DataTable();

           
            var table = $('#PurchaseList').DataTable();

            $('#PurchaseList tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var iddata = data[0];
                let id = iddata.replace('<span style="display:none">', "").replace("</span>", "");
                var vid = parseInt(id.split('-')[1]);
                window.location.href = "/Inventory/Stock/StockInDetails/?id=" + vid;
            });
            $('#PurchaseList tbody').on('click', 'td:last-child', function (e) {
                e.stopPropagation();
            });

        });
    </script>
}


@section Style{
    <style>
        #PurchaseList tbody tr {
            cursor: pointer;
        }
    </style>
}
