@model StockInViewModel
@{
    ViewData["Title"] = "Stock In";
    Layout = "~/Areas/Inventory/Views/shared/_InventoryLayout.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">List For Stock In From Return Receive</h4>
                <a href="/Inventory/Stock/IndexReturnInvoice" style="background-color:#024972;" class="btn btn-info btn-sm pull-right">New Stock In</a>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="PurchaseList">
                    <thead>
                        <tr>
                            <th width="45%">MR No</th>
                            <th width="10%">Stock In Date</th>
                            <th width="35%">Remarks</th>

                            <th width="10%">Action</th>

                    </thead>
                    <tbody>
                        @foreach (var data in Model.stockMasters.Where(x => x.storeId == HttpContextAccessor.HttpContext.Session.GetInt32("storeId")))
                        {
                            <tr>
                                <td><span style="display:none">-@data.Id-</span>@data.MRNO</td>
                                <td>@data.StockDate?.ToString("dd-MMM-yyyy")</td>

                                <td>@data.remarks</td>
                                <td>
                                    <a href="/Inventory/Stock/StockInDetails?Id=@data.Id"><i class="far fa-list-alt"></i></a>
                                    &nbsp;&nbsp;<a target="_blank" href="/Inventory/Stock/StockInPdfAction?MasterId=@data.Id"><i class="fas fa-print"></i></a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section ScriptsV{


    <script type="text/javascript">
        $(document).ready(function () {
            $('#PurchaseList').DataTable();


            var table = $('#PurchaseList').DataTable();

            $('#PurchaseList tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var iddata = data[0];
                let id = iddata.replace('<span style="display:none">', "").replace("</span>", "");
                var vid = parseInt(id.split('-')[1]);
                window.location.href = "/Inventory/Stock/StockInReturnDetails/?id=" + vid;
            });
            $('#PurchaseList tbody').on('click', 'td:last-child', function (e) {
                e.stopPropagation();
            });

        });
    </script>
}


@section StyleV{
    <style>
        #PurchaseList tbody tr {
            cursor: pointer;
        }
    </style>
}
