@model UnitViewModel

@{
    ViewData["TitleMD"] = "Unit";
   // Layout = "~/Areas/MasterData/Views/Shared/_MasterDataForm.cshtml";
}

@section Style{
    <style>
        .redStar {
            color: red;
        }
    </style>
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">Unit Info</h5>
        <hr>
        <div class="container">

            <form asp-area="MasterData" asp-controller="Unit" asp-action="Index" method="post" data-parsley-validate="parsley">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <input type="hidden" name="UnitId" id="UnitId" value="0" />
                    <label for="name" class="col-sm-3 col-form-label">Unit Name<span style="float:right;" class="redStar">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="name" id="name">
                    </div>
                </div>

                <hr>
                <button type="submit" value="Submit" class="btn btn-success btn-lg" style="float:right; margin-top:5px;"><i class="fas fa-save"></i></button>
                <button type="button" onclick="Refresh()" class="btn btn-danger btn-lg" style="float:right; margin-top:5px;margin-right:5px;"><i class="fas fa-sync"></i></button>
            </form>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Unit List</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered" id="unitTable">
                    <thead>
                        <tr>
                            <th>Unit Name</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.units)
                        {
                            <tr>
                                <td>@data.unitName</td>
                                <td>
                                    <a class="btn btn-info" onclick="Edit(@data.Id, '@data.unitName')" href="#" title='Edit'><i class="fa fa-edit"></i></a>
                                    <button title="Delete" class="btn btn-danger" onclick="Remove(@data.Id)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#unit").addClass("active");
            $('#unitTable').DataTable();
        });

        function Remove(Id) {
            chk = confirm('Do you want to delete this?');
            if (chk) {
                location.replace("/MasterData/Unit/Delete/" + Id);
            } else {
                return false;
            }
        }

        function Refresh() {
            location.reload();
        }

        function Edit(Id, name) {
            $("#UnitId").val(Id);
            $("#name").val(name);
        }
    </script>
}


