<style>
    body {
        background-color: white;
    }

    .outer-box {
        width: 100%;
        height: 100%;
        background: white;
    }

    .inner-box {
        text-align: center;
        font-family: monospace;
        text-align: center;
        font-family: monospace;
    }

    .heading {
        font-size: 55px;
    }

    .not-found h1 {
        font-size: 230px;
        font-weight: bold;
        letter-spacing: 30px;
    }

    /*.first {
        animation: firstm 3s linear infinite;
    }

    .second {
        animation: secondm 3s linear infinite;
    }

    .third {
        animation: thirdm 3s linear infinite;
    }

    @@keyframes firstm {
        0% {
            text-decoration: underline;
            text-decoration-color: #0079BE;
        }

        33% {
            text-decoration: none;
        }
        66% {
            text-decoration: none;
        }
        100%{
            text-decoration: none;
        }
    }
    @@keyframes secondm {
        0% {
            text-decoration: none;
        }

        33% {
            text-decoration: underline;
            text-decoration-color: #0079BE;
        }

        66% {
            text-decoration: none;
        }
        100% {
            text-decoration: none;
        }
    }

    @@keyframes thirdm {
        0% {
            text-decoration: none;
        }

        33% {
            text-decoration: none;
        }

        66% {
            text-decoration: underline;
            text-decoration-color: #92DAFA;
        }
        100% {
            text-decoration: none;
        }
    }*/

    #content {
        background-color: white !important;
    }
</style>
<div class="outer-box">
    <div class="inner-box">
        <div class="heading">Oops...</div>
        <div class="not-found">
            <h1><span class="first">4</span><span class="second">0</span><span class="third">4</span></h1>
        </div>
        <div>
            <h2>Sorry, We couldn't find what you're looking for!</h2>
        </div>
    </div>
</div>