
@{
    ViewData["Title"] = "EditFinalSettlement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4 bg-light">
            <div class="card">
                <!-- Card Body -->
                <div class="card-body" style="padding:40px">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 align="center" class="text-success">Employees' Provident Fund Trust of BDBL Finance</h4>
                            <p align="center">Address: Gulshan<br><strong>PF Statement</strong><br>From 13/1/2019 to 1/4/2019</p>
                        </div>

                        <div class="table-responsive m-t">
                            <table class="table invoice-table" style="width:40%">
                                <tbody>
                                    <tr>
                                        <th width="40%">Member ID</th>
                                        <td style="text-align:left;">: MP445</td>
                                    </tr>

                                    <tr>
                                        <th>Member	Name</th>
                                        <td style="text-align:left;">: MD Nazul Islam AL Ibne Taimum</td>
                                    </tr>

                                    <tr>
                                        <th>Mobile</th>
                                        <td style="text-align:left;">: 01754612350</td>
                                    </tr>

                                    <tr>
                                        <th>Email</th>
                                        <td style="text-align:left;">:nazrul@gmail.com</td>
                                    </tr>

                                    <tr>
                                        <th>Application Date</th>
                                        <td style="text-align:left;">: 12/4/2019</td>
                                    </tr>
                                    <tr>
                                        <th>Comments</th>
                                        <td style="text-align:left;">: None</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">Sl</th>
                                        <th width="50%">Particulars</th>
                                        <th>Opening Balance</th>
                                        <th>Transaction during the period</th>
                                        <th>Forfeited Amount</th>
                                        <th>Closing Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Member's Contribution</td>
                                        <td>135,831</td>
                                        <td>61,218</td>
                                        <td>0</td>
                                        <td>197,049</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Company's Contribution</td>
                                        <td>135,831</td>
                                        <td>61,218</td>
                                        <td>0</td>
                                        <td>197,049</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Revenue Surplus</td>
                                        <td>16,950</td>
                                        <td>-</td>
                                        <td>0</td>
                                        <td>16,950</td>
                                    </tr>

                                    <tr>

                                        <td colspan="2" align="right"><strong>Total:</strong></td>
                                        <td><strong>288,612</strong></td>
                                        <td><strong>122,436</strong></td>
                                        <td><strong>0</strong></td>
                                        <td><strong>411,048</strong></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive m-t">
                            <table class="table invoice-table" style="width:40%">
                                <tbody>
                                    <tr>

                                        <th>Payment Amount:</th>
                                        <td>
                                            <input type="text" class="form-control" value="411,048">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Payment Date :</th>
                                        <td>
                                            <input type="text" class="form-control" value="13/4/1996">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Mode of Payment :</th>
                                        <td style="text-align:left;">
                                            <select type="text" data-parsley-trigger="keyup" class="form-control" name="Performance" id="Performance">
                                                <option value="">Select Mode</option>
                                                <option value="Excellent">Cash</option>
                                                <option value="Very Good">Check</option>
                                            </select>

                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Cheque No. (or Other Ref.) :</th>
                                        <td>
                                            <input type="text" class="form-control" value="15884545874945646">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Payment Note :</th>
                                        <td>
                                            <input type="text" class="form-control" value="None">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="button" id="submit" value="Submit" class="btn btn-success btn-md" style="float:right; color:white; margin-top:5px;">Pay</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
